{% extends "base.html" %} {% load static %}
<!-- prettier-ignore -->
{% block css_files %} 
<link rel="stylesheet" href="{% static "BlogApp/index.css" %}"/>
<link rel="stylesheet" href="{% static "BlogApp/posts.css" %}"/>
{% endblock%}
{% block page_title %}My Page {% endblock %}
<!-- prettier-ignore -->
{% block content %}

<section id="welcome">
  <header>
    <img src="{% static "BlogApp/images/CroppedPic.jpg"%}" alt="The author of
    this page" />
    <h2>Daily Progress</h2>
    <p>Hi, Welcome to small little project</p>
  </header>
</section>
<section id="latest-posts">
  <h2>My Latest Thoughts</h2>
  <ul>
    <!-- prettier-ignore -->
    {% for post in posts %}
    {% include "BlogApp/includes/post.html"%}
    <!-- prettier-ignore -->
    {% endfor %}
  </ul>
</section>
<section id="about">
  <h2>What I do</h2>
  <p>
    I love programming, I love to help others and I enjoy exploring new
    technologies in general.
  </p>
  <p>My Goal is to grow as a developer.</p>
</section>
{% endblock %}
